@import url('./assets/fonts/opensans.css');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.header img {
    height: 80px;
    margin-top: 0;
}

footer {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.change-page {
    cursor: pointer;
    font-size: 22px;
}

.pokedex-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 12px;
}

.pokedex-item {
    height: 250px;
    width: 250px;
    border: 1px solid silver;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.pokedex-item:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.pokedex-image {
    height: 180px;
    width: 180px;
}

.pokedex-image img {
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokedex {
    min-height: 50vh;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-bar {
    height: 4vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}

.pokemon-id {
    margin-right: 24px;
}

.pokedex-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}