@import url('./fonts/opensans.css');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

header {
    height: 80px;
}

h1 {
    margin: 0;
    /* padding-top: 32px; */
}

.div-width {
    width: 40vw;
}

.div-margin {
    margin: 24px 18px;
}

.pokedex-body {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 80px;
}

.pokedex-item {
    height: 200px;
    width: 200px;
    background-color: #70c927;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pokedex-item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pokedex-image {
    height: 160px;
    width: 160px;
}

.pokedex-image img {
    margin-top: 0;
    height: 100%;
    width: 100%;
}

#pokedex {
    min-height: 50vh;
    background-color: #FB6C6C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    height: 4vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}

.pokedex-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

img {
    height: 43vh;
    margin-top: -39vh;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 50vh;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w3-row {
    display: flex;
    justify-content: space-between;
}

.w3-quarter {
    width: 100% !important;
}

.border-marker {
    border-bottom: 4px solid #FB6C6C!important;
}

.content-container {
    height: 40vh;
    overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
}

tr {
    height: 30px;
}

.table-cell {
    display: flex;
    align-items: center;
}

table tr td:first-child {
    width: 28%;
}
table tr td:last-child {
    width: 72%;
}

.ability-container {
    display: flex;
    gap: 8px;
}

.ability {
    background-color: #FB6C6C;
    padding: 6px;
    border-radius: 6px;
}

.type {
    background-color: #70c927;
    padding: 6px;
    border-radius: 6px;
}

.statsbar {
    width: 100%;
    height: 6px;
    display: flex;
    align-items: center;
    margin-left: 16px;
    border-radius: 3px;
}

.moves-container {
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
}

.moves {
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(203, 156, 247);
}

@media(max-width: 800px) {
    .div-width {
        width: 70vw;
    }
    .w3-row {
        display: flex;
        justify-content: space-between;
    }
    .w3-quarter {
        width: 100% !important;
    }
    .div-margin {
        margin: 16px;
    }
}

@media(max-width: 600px) {
    .div-margin {
        margin: 16px 4px;
    }
}

@media(max-width: 500px) {
    .nav-bar {
        margin-bottom: 12px;
    }
    h1 {
        font-size: 28px;
    }
    .pokedex-text {
        width: 100vw;
        justify-content: space-evenly;
    }
    img {
        height: 40vh;
        margin-top: -36vh;
    }
    .info-container {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
    .div-width {
        width: 90%;
    }
    .w3-padding {
        padding: 4px 12px!important;
    }
    .div-margin {
        margin: 16px 0;
    }
}

@media(max-width: 320px) {
    img {
        height: 36vh;
        margin-top: -33vh;
    }
    .info-container {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    .w3-padding {
        padding: 2px 6px!important;
    }
}